@import "bootstrap-sprockets";
@import "bootstrap";


.center{
	text-align: center;
}

h1,h2,h3,h4{
	line-height: 1;
}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2{
	font-size: 1.2em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
}

.left{
	text-align: left;
	leter-spacing: .5px;
}

.right{
	text-align: right;
}

.well{
	background-color: #EDEDED;
}

input,textarea,select,.uneditable-input{
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;
}

input{
	height: auto !important;
}

p{
	text-align: center;
}
